In [83]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
import pickle

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression



from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [84]:
bmwDataSet = pd.read_csv("bmw.csv",header=0)
fordDataSet = pd.read_csv("ford.csv",header=0)
dataset = [bmwDataSet,fordDataSet]
dataset = pd.concat(dataset)
display(dataset)

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,5 Series,2014,Automatic,67068,Diesel,125,57.6,2.0,11200
1,6 Series,2018,Automatic,14827,Petrol,145,42.8,2.0,27000
2,5 Series,2016,Automatic,62794,Diesel,160,51.4,3.0,16000
3,1 Series,2017,Automatic,26676,Diesel,145,72.4,1.5,12750
4,7 Series,2014,Automatic,39554,Diesel,160,50.4,3.0,14500
...,...,...,...,...,...,...,...,...,...
17960,Fiesta,2016,Manual,31348,Petrol,125,54.3,1.2,7999
17961,B-MAX,2017,Manual,16700,Petrol,150,47.1,1.4,8999
17962,B-MAX,2014,Manual,40700,Petrol,30,57.7,1.0,7499
17963,Focus,2015,Manual,7010,Diesel,20,67.3,1.6,9999
17964,KA,2018,Manual,5007,Petrol,145,57.7,1.2,8299

In [85]:
dataset.isnull().sum()

model           0
year            0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
price           0
dtype: int64


print(dataset.model.value_counts())
print(dataset.transmission.value_counts())
print(dataset.fuelType.value_counts())

In [88]:
#Importing LabelEncoder from Sklearn 
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
model = le.fit_transform(dataset['model'])

In [89]:
# removing the column 'Purchased' from df
# as it is of no use now.
# train.drop("fuel", axis=1, inplace=True)
 
# Appending the array to our dataFrame 
# with column name 'Purchased'
dataset["model"] = model
 
# printing Dataframe
dataset

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,4,2014,Automatic,67068,Diesel,125,57.6,2.0,11200
1,5,2018,Automatic,14827,Petrol,145,42.8,2.0,27000
2,4,2016,Automatic,62794,Diesel,160,51.4,3.0,16000
3,0,2017,Automatic,26676,Diesel,145,72.4,1.5,12750
4,6,2014,Automatic,39554,Diesel,160,50.4,3.0,14500
...,...,...,...,...,...,...,...,...,...
17960,13,2016,Manual,31348,Petrol,125,54.3,1.2,7999
17961,8,2017,Manual,16700,Petrol,150,47.1,1.4,8999
17962,8,2014,Manual,40700,Petrol,30,57.7,1.0,7499
17963,14,2015,Manual,7010,Diesel,20,67.3,1.6,9999
17964,19,2018,Manual,5007,Petrol,145,57.7,1.2,8299

In [90]:
#Importing LabelEncoder from Sklearn 
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
transmission = le.fit_transform(dataset['transmission'])
 
# printing label
transmission

array([0, 0, 0, ..., 1, 1, 1])

In [91]:
# removing the column 'Purchased' from df
# as it is of no use now.
# train.drop("fuel", axis=1, inplace=True)
 
# Appending the array to our dataFrame 
# with column name 'Purchased'
dataset["transmission"] = transmission
 
# printing Dataframe
dataset

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,4,2014,0,67068,Diesel,125,57.6,2.0,11200
1,5,2018,0,14827,Petrol,145,42.8,2.0,27000
2,4,2016,0,62794,Diesel,160,51.4,3.0,16000
3,0,2017,0,26676,Diesel,145,72.4,1.5,12750
4,6,2014,0,39554,Diesel,160,50.4,3.0,14500
...,...,...,...,...,...,...,...,...,...
17960,13,2016,1,31348,Petrol,125,54.3,1.2,7999
17961,8,2017,1,16700,Petrol,150,47.1,1.4,8999
17962,8,2014,1,40700,Petrol,30,57.7,1.0,7499
17963,14,2015,1,7010,Diesel,20,67.3,1.6,9999
17964,19,2018,1,5007,Petrol,145,57.7,1.2,8299

In [92]:
#Importing LabelEncoder from Sklearn 
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder
 
# Creating a instance of label Encoder.
le = LabelEncoder()
 
# Using .fit_transform function to fit label
# encoder and return encoded label
fuelType = le.fit_transform(dataset['fuelType'])
 
# printing label
fuelType

array([0, 4, 0, ..., 4, 0, 4])

In [93]:
# removing the column 'Purchased' from df
# as it is of no use now.
# train.drop("fuel", axis=1, inplace=True)
 
# Appending the array to our dataFrame 
# with column name 'Purchased'
dataset["fuelType"] = fuelType
 
# printing Dataframe
dataset

,model,year,transmission,mileage,fuelType,tax,mpg,engineSize,price
0,4,2014,0,67068,0,125,57.6,2.0,11200
1,5,2018,0,14827,4,145,42.8,2.0,27000
2,4,2016,0,62794,0,160,51.4,3.0,16000
3,0,2017,0,26676,0,145,72.4,1.5,12750
4,6,2014,0,39554,0,160,50.4,3.0,14500
...,...,...,...,...,...,...,...,...,...
17960,13,2016,1,31348,4,125,54.3,1.2,7999
17961,8,2017,1,16700,4,150,47.1,1.4,8999
17962,8,2014,1,40700,4,30,57.7,1.0,7499
17963,14,2015,1,7010,0,20,67.3,1.6,9999
17964,19,2018,1,5007,4,145,57.7,1.2,8299

In [94]:
x = dataset.iloc[:,:-1]
y = dataset.iloc[:,-1]

x
y

0        11200
1        27000
2        16000
3        12750
4        14500
         ...
17960     7999
17961     8999
17962     7499
17963     9999
17964     8299
Name: price, Length: 28746, dtype: int64

In [95]:
x.drop("model", axis=1, inplace=True)
x

       year  transmission  mileage  fuelType  tax   mpg  engineSize
0      2014             0    67068         0  125  57.6         2.0
1      2018             0    14827         4  145  42.8         2.0
2      2016             0    62794         0  160  51.4         3.0
3      2017             0    26676         0  145  72.4         1.5
4      2014             0    39554         0  160  50.4         3.0
...     ...           ...      ...       ...  ...   ...         ...
17960  2016             1    31348         4  125  54.3         1.2
17961  2017             1    16700         4  150  47.1         1.4
17962  2014             1    40700         4   30  57.7         1.0
17963  2015             1     7010         0   20  67.3         1.6
17964  2018             1     5007         4  145  57.7         1.2

[28746 rows x 7 columns]

In [41]:
from sklearn.preprocessing import MinMaxScaler
# Min-Max scaling (Normalization) 
scaler_minmax = MinMaxScaler()  
scaler_data = scaler_minmax.fit_transform(x) 

# Print the scaled features using DataFrame 
x = pd.DataFrame(scaler_data,columns=x.columns )
x

,year,transmission,mileage,fuelType,tax,mpg,engineSize
0,0.281250,0.0,0.313399,0.0,0.215517,0.111971,0.303030
1,0.343750,0.0,0.069281,1.0,0.250000,0.080163,0.303030
2,0.312500,0.0,0.293427,0.0,0.275862,0.098646,0.454545
3,0.328125,0.0,0.124650,0.0,0.250000,0.143778,0.227273
4,0.281250,0.0,0.184828,0.0,0.275862,0.096497,0.454545
...,...,...,...,...,...,...,...
28741,0.312500,0.5,0.146482,1.0,0.215517,0.104879,0.181818
28742,0.328125,0.5,0.078033,1.0,0.258621,0.089405,0.212121
28743,0.281250,0.5,0.190183,1.0,0.051724,0.112186,0.151515
28744,0.296875,0.5,0.032752,0.0,0.034483,0.132818,0.242424
28745,0.343750,0.5,0.023393,1.0,0.250000,0.112186,0.181818

In [96]:
x_train, x_test, y_train, y_test=train_test_split(x,y,train_size=0.6,random_state=21)

transmission
1    18044
2     5753
0     4949
Name: count, dtype: int64
fuelType
4    15595
0    12789
2      320
3       37
1        5
Name: count, dtype: int64

In [97]:
regressor = LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [98]:
train_score = regressor.score(x_train,y_train)
print(f'The Accuracy of training: {round((train_score*100),2)} %')

test_score = regressor.score(x_test,y_test)
print(f'The Accuracy of test: {round((test_score*100),2)} %')

The Accuracy of training: 71.35 %
The Accuracy of test: 70.44 %

In [107]:
# !pip install pickle-mixin
import pickle
pickle.dump(regressor,open('model.pkl','wb'))
model = pickle.load(open('model.pkl','rb'))